name: CI
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - run: pip install flake8 nbqa
    - run: flake8 .
    - run: nbqa flake8 *.ipynb --extend-ignore=E402,E501